<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/82eb69e53c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap"
        rel="stylesheet">
    <title>Om Ganeshay Namah</title>
</head>

<body>
    <div class="wrapper flex items-center justify-center flex-col">

        <!-- Navbar -->
        <div class="flex flex-row items-center justify-between font-poppins w-[70%] h-[8rem]">
            <div class="flex flex-row items-center justify-between gap-5 w-[50%]">
                <div class="flex flex-row items-center justify-center gap-5 font-medium text-[#989898]">
                    <i class="fa-solid fa-bars text-[#0C134F]"></i>
                    <p class="text-[#05138A]">Home</p>
                    <p>The School</p>
                    <p>Admission</p>
                    <p>Contact</p>
                </div>
                <div class="flex items-center justify-center logo">
                    <img src="images/logo.png" alt="" srcset="">
                </div>
            </div>

            <div class="btn items-center justify-center flex text-white font-semibold">
                <button class="h-10 w-[8rem] rounded-lg bg-[#0063DB]">
                    Login
                </button>
            </div>
        </div>
        <br>
        <!-- Header -->
        <div class="flex flex-row items-center justify-between w-[70%] font-poppins">
            <div class="flex items-start justify-center flex-col w-[46%] gap-3">
                <p class="text-[2.5rem] font-medium">Let's Create A Brilliant Future with Our School</p>
                <p class="text-sm font-medium text-[#A1A1A1]">Manan Vidya Manrakhan Mahto School in Ranchi Provides
                    quality CBSE education with a focus on Indian traditions and heritage</p>
                <div class="flex items-center justify-center flex-row gap-10">
                    <button class="h-10 px-5 min-w-[8rem] rounded-lg bg-[#0063DB] text-white text-sm">
                        Start Your Journey Now! <i class="fa-solid fa-arrow-right pl-4"></i>
                    </button>
                    <a class="text-[#0063DB] text-sm underline" href="#">Learn More</a>
                </div>
                <div class="flex flex-row items-center justify-center gap-5 mt-5">
                    <div class="flex flex-col items-start justify-center">
                        <p class="text-4xl font-medium">40<span class="text-[#0063DB]">+</span></p>
                        <p class="text-sm font-medium">Teaching Staff</p>
                    </div>
                    <div class="flex flex-col items-start justify-center">
                        <p class="text-4xl font-medium">900<span class="text-[#0063DB]">+</span></p>
                        <p class="text-sm font-medium">Students In the School</p>
                    </div>
                    <div class="flex flex-col items-start justify-center">
                        <p class="text-4xl font-medium">10<span class="text-[#0063DB]">+</span></p>
                        <p class="text-sm font-medium">Years Of Excellence</p>
                    </div>

                </div>
            </div>
            <div class="image flex items-center justify-center">
                <img class="w-full h-[25rem]" src="images/cover.png" alt="" srcset="">
            </div>
        </div>
        <br>
        <!-- अध्ययन, अनुशासन, आस्था -->
        <br>
        <div class="h-[10rem] w-full bg-[#FFF2E4] flex items-center justify-center">
            <p class="text-5xl font-tiro-hindi">अध्ययन, अनुशासन, आस्था</p>
        </div>
        <br><br><br><br>
        <!-- Features -->
        <div class="flex flex-col items-center justify-center w-[70%] gap-14">
            <div class="flex items-center flex-row justify-center gap-20">
                <img src="images/template.png" alt="" srcset="">
                <div class="flex flex-col items-start justify-center gap-5">
                    <p class="text-3xl font-semibold">Empowering Future Leaders: Manan Vidya School's Holistic Approach
                    </p>
                    <p class="text-sm text-[#515151]">Manan Vidya School in Ranchi is dedicated to nurturing future
                        leaders through its holistic educational approach. The school combines academic excellence with
                        co-curricular activities, modern facilities, and a committed faculty to foster well-rounded
                        individuals prepared to excel in all areas of life.</p>
                    <ul class="list-disc ml-6 text-sm text-[#515151] flex flex-col gap-4">
                        <li>Balanced Curriculum: Academic and co-curricular excellence.</li>
                        <li>Modern Facilities: State-of-the-art infrastructure and resources.</li>
                        <li>Dedicated Faculty: Committed to holistic student development</li>
                    </ul>
                </div>
            </div>
            <div class="flex items-center flex-row-reverse justify-center gap-20">
                <img src="images/template.png" alt="" srcset="">
                <div class="flex flex-col items-start justify-center gap-5">
                    <p class="text-3xl font-semibold">Empowering Future Leaders: Manan Vidya School's Holistic Approach
                    </p>
                    <p class="text-sm text-[#515151]">Manan Vidya School in Ranchi is dedicated to nurturing future
                        leaders through its holistic educational approach. The school combines academic excellence with
                        co-curricular activities, modern facilities, and a committed faculty to foster well-rounded
                        individuals prepared to excel in all areas of life.</p>
                    <ul class="list-disc ml-6 text-sm text-[#515151] flex flex-col gap-4">
                        <li>Balanced Curriculum: Academic and co-curricular excellence.</li>
                        <li>Modern Facilities: State-of-the-art infrastructure and resources.</li>
                        <li>Dedicated Faculty: Committed to holistic student development</li>
                    </ul>
                </div>
            </div>
            <div class="flex items-center flex-row justify-center gap-20">
                <img src="images/template.png" alt="" srcset="">
                <div class="flex flex-col items-start justify-center gap-5">
                    <p class="text-3xl font-semibold">Empowering Future Leaders: Manan Vidya School's Holistic Approach
                    </p>
                    <p class="text-sm text-[#515151]">Manan Vidya School in Ranchi is dedicated to nurturing future
                        leaders through its holistic educational approach. The school combines academic excellence with
                        co-curricular activities, modern facilities, and a committed faculty to foster well-rounded
                        individuals prepared to excel in all areas of life.</p>
                    <ul class="list-disc ml-6 text-sm text-[#515151] flex flex-col gap-4">
                        <li>Balanced Curriculum: Academic and co-curricular excellence.</li>
                        <li>Modern Facilities: State-of-the-art infrastructure and resources.</li>
                        <li>Dedicated Faculty: Committed to holistic student development</li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br><br><br>

        <!-- Blog -->
        <div
            class="min-h-[10rem] bg-[#FFF2E4] w-full py-10 flex flex-col items-center justify-center font-poppins gap-24">
            <div class="flex items-center justify-center flex-col gap-5">
                <p class="text-4xl font-semibold">Our Blog</p>
                <p class="text-base font-medium text-center w-[92%]">Check Out Our Blog to discover more about our
                    school and dive into educational insights</p>
            </div>
            <div class="grid grid-cols-3 items-center justify-center font-poppins gap-14">
                <div class="flex flex-col items-center justify-center gap-10">
                    <img class="w-[25rem]" src="images/template.png" alt="">
                    <div class="flex items-start justify-center flex-col gap-3">
                        <p class="text-2xl font-semibold">Blog Post Title Number 1</p>
                        <p class="w-[25rem] text-[#484848]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut <span class="text-[#0063DB]">...Read
                                More</span></p>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center gap-10">
                    <img class="w-[25rem]" src="images/template.png" alt="">
                    <div class="flex items-start justify-center flex-col gap-3">
                        <p class="text-2xl font-semibold">Blog Post Title Number 1</p>
                        <p class="w-[25rem] text-[#484848]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut <span class="text-[#0063DB]">...Read
                                More</span></p>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center gap-10">
                    <img class="w-[25rem]" src="images/template.png" alt="">
                    <div class="flex items-start justify-center flex-col gap-3">
                        <p class="text-2xl font-semibold">Blog Post Title Number 1</p>
                        <p class="w-[25rem] text-[#484848]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut <span class="text-[#0063DB]">...Read
                                More</span></p>
                    </div>
                </div>

            </div>
            <div class="btn items-center justify-center flex">
                <button class="h-10 px-5 min-w-[8rem] rounded-lg bg-[#0063DB] text-white text-sm">
                    Read More Of Our Blogs <i class="fa-solid fa-arrow-right pl-4"></i>
                </button>
            </div>

        </div>

        <!-- Footer Section1  -->
        <div class="flex items-center justify-center min-h-[22rem] w-full bg-[#141414] font-poppins">
            <div class="flex items-center justify-between w-[70%]">
                <div class="flex flex-col items-start justify-center gap-5">
                    <img src="images/logo.png" alt="">
                    <p class="text-[1.9rem] leading-[2.25rem] font-medium w-[82%] text-white">Come Join Us at <span
                            class="text-[#13C6FF]">Manan Vidya Manrakhan Mahto School</span></p>
                    <p class="w-[82%] text-lg text-[#FFFFFF] font-inter">Enroll at Manan Vidya Manrakahn Mahto School
                        for an exceptional learning expirience.</p>
                </div>
                <div class="btn items-center justify-center flex">
                    <button class="h-14 px-5 min-w-[8rem] rounded-lg bg-[#0063DB] text-white text-sm">
                        Read More Of Our Blogs <i class="fa-solid fa-arrow-right pl-4"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Footer AGAIN!! -->
        <div class="h-[35rem] bg-black w-full flex flex-row items-center justify-center font-poppins">
            <div class="flex flex-col text-white items-start justify-center w-[80%]">
                <div class="flex flex-col items-start justify-center gap-5">
                    <img class="" src="images/logo.png" alt="">
                    <p class="text-2xl font-medium">Manan Vidya Manrakhan Mahto School</p>
                    <p class="font-inter text-[#636262]">Came into existence on 22nd April, 2007 to meet the growing
                        need of a good co-educational English Medium School keeping high standards in Ranchi. The
                        institution follows “Central Board of Secondary Education (CBSE)” curriculum. It imparts
                        structured and purposeful education to the young children. It is a foundation school for many
                        coveted professions and careers.</p>
                </div>
                <br>
                <div class="newsletter flex items-start justify-center flex-col gap-5">
                    <p class="text-2xl font-medium">Enter your email to receive monthly newsletter.</p>
                    <input class="h-[2.5rem] rounded-lg w-[26rem] pl-2" placeholder="Enter Your Email" type="text"
                        name="" id="">
                    <button class="h-14 px-5 min-w-[12rem] rounded-lg bg-[#0063DB] text-white text-lg font-semibold">
                        Subscribe
                    </button>
                </div>
            </div>
        </div>

    </div>

    </div>


</body>

</html>